.footer {
  padding: 32px 0;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url(images/footer-bg.jpg);
  background-size: cover;
  color: $gray;

  .menu-item::after {
    display: none;
  }

  &__column {

    #mce-EMAIL {
      padding-right: 25px;
    }

    input.subsubmit {
      background: url(images/submit.svg) no-repeat;
      position: absolute;
      right: 0;
      top: 5px;
      border: none;
    }

  }

  a {
    // color: $gray;

    &:hover {
      // color: $orange;
    }

  }

  .subscribe {
    a {
      color: $orange;

      &:hover {
        color: $gray;
      }

    }
  }

}
@media (min-width: 768px) {
  .footer {
    padding: 60px 0 40px;
  }
}
@media (min-width: 992px) {
  .footer {
    padding: 80px 0 40px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 153px 0 80px;
  }
}
.footer--lite {
  background-color: #fff;
  background-image: none;
}
@media (min-width: 768px) {
  .footer--lite {
    padding: 60px 0;
  }
}
@media (min-width: 992px) {
  .footer--lite {
    padding: 80px 0;
  }
}
@media (min-width: 1200px) {
  .footer--lite {
    padding: 90px 0;
  }
}
.footer--lite .footer__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: -16px;
}
@media (min-width: 768px) {
  .footer--lite .footer__menu {
    justify-content: flex-end;
  }
}
.footer--lite .footer__menu-item {
  margin-right: 16px;
  margin-top: 16px;
}
.footer--lite .footer__menu-link {
  display: block;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.footer--lite .footer__menu-link:hover,
.footer--lite .footer__menu-link:focus {
  outline: none;
  color: #000;
}
.footer--lite .footer__copyright {
  font-size: 16px;
  line-height: 1.25;

  a {
    color: $gray;

    &:hover {
      color: $orange
    }

  }

}
.footer--lite .footer__copyright .grey {
  color: #666;
}
.footer--modern {
  background-image: none;
}
.footer--modern .footer__column-title {
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .footer--modern .footer__inner {
    max-width: 1550px;
  }
}
.footer--technical {
  padding-top: 0;
  border-top: solid 4px #000;
  background-image: none;
  background-color: transparent;
}
.footer--technical .footer__top {
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid 1px #000;
  background-color: #f9fbfd;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url(images/footer-bg.jpg);
  background-size: 100% auto;
}
@media (min-width: 1200px) {
  .footer--technical .footer__top {
    margin-bottom: 135px;
    padding-top: 135px;
    padding-bottom: 135px;
  }
}
.footer--technical .footer__top p {
  // color: #000;
}
.footer--technical .footer__email {
  font-weight: 400;
  // color: #000;
  letter-spacing: normal;
}
@media (min-width: 1200px) {
  .footer--technical .footer__email {
    font-size: 90px;
  }
}
.footer--technical .footer__column-item--current .footer__column-link,
.footer--technical .footer__column-link {
  position: relative;
}
.footer--technical .footer__column-item--current .footer__column-link::before,
.footer--technical .footer__column-link::before {
  content: "";
  display: block;
  width: 100%;
  height: 14px;
  position: absolute;
  top: 55%;
  left: 0;
  z-index: -1;
  background-color: #ffdf91;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.footer--technical .footer__column-item--current .footer__column-link:hover,
.footer--technical .footer__column-item--current .footer__column-link:focus,
.footer--technical .footer__column-link:hover,
.footer--technical .footer__column-link:focus {
  color: #000;
}
.footer--technical
  .footer__column-item--current
  .footer__column-link:hover::before,
.footer--technical
  .footer__column-item--current
  .footer__column-link:focus::before,
.footer--technical .footer__column-link:hover::before,
.footer--technical .footer__column-link:focus::before {
  opacity: 1;
}
.footer--technical .footer__phone {
  position: relative;
}
.footer--technical .footer__phone::before {
  content: "";
  display: block;
  width: 100%;
  height: 14px;
  position: absolute;
  top: 55%;
  left: 0;
  z-index: -1;
  background-color: #ffdf91;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.footer--technical .footer__phone:hover,
.footer--technical .footer__phone:focus {
  color: #000;
}
.footer--technical .footer__phone:hover::before,
.footer--technical .footer__phone:focus::before {
  opacity: 1;
}
.footer__appeal {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.5;
  color: #000;
  letter-spacing: -0.025em;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .footer__appeal {
    max-width: 500px;
    margin-top: -16px;
    font-size: 42px;
  }
}
.footer__appeal a {
  color: #ff4800;
}
.footer__appeal a:hover,
.footer__appeal a:focus {
  outline: none;
  text-decoration: underline;
}
.footer__top {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: solid 1px rgba(0, 0, 0, .5);
}
@media (min-width: 768px) {
  .footer__top {
    margin-bottom: 56px;
    padding-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .footer__top {
    margin-bottom: 115px;
    padding-bottom: 130px;
  }
}
.footer__top p {
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 1.33;
  color: #666;
  letter-spacing: -0.025em;
}
@media (min-width: 768px) {
  .footer__top p {
    margin-top: 16px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .footer__top p {
    margin-top: 32px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .footer__middle {
    margin-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .footer__middle {
    margin-bottom: 152px;
  }
}
.footer__email {
  font-size: 30px;
  line-height: 1.33;
  color: $orange;
  font-weight: 300;
  letter-spacing: -0.025em;
  transition: opacity 0.3s ease;
}
@media (min-width: 768px) {
  .footer__email {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .footer__email {
    font-size: 54px;
  }
}
.footer__email:hover,
.footer__email:focus {
  outline: none;
  color: #ff4800;
  opacity: 0.7;
}
.footer__address {
  font-size: 14px;
  line-height: 1.44;
  color: #666;
  font-style: normal;
}
@media (min-width: 1200px) {
  .footer__address {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
.footer__phone {
  font-size: 14px;
  line-height: 1;
  transition: color 0.3s ease;
  margin-bottom: 15px;
  display: block;
}
@media (min-width: 1200px) {
  .footer__phone {
    font-size: 18px;
  }
}
.footer__phone:hover,
.footer__phone:focus {
  outline: none;
  color: $orange;
}
.footer__phone:active {
  opacity: 0.7;
}
.footer__column {

  img.bm-trada {
    float: right;
  }

}
@media (min-width: 992px) {
  .footer__social {
    justify-content: flex-end;
    margin-bottom: 70px;
  }
}
.footer__copyright {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.5;
  color: #999;
  letter-spacing: 0.015em;
}
.footer__copyright span {
  color: $black;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .footer__copyright {
    font-size: 16px;
  }
}
.footer__design {
  font-size: 12px;
  line-height: 1.5;
  color: #999;
  letter-spacing: 0.015em;

  a {
    color: $gray;

    &:hover {
      color: $orange
    }

  }

}
.footer__design span {
  color: $black;
}
@media (min-width: 576px) {
  .footer__design {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .footer__design {
    font-size: 16px;
  }
}
.footer__column {
  margin-bottom: 24px;

  a {
    color: $gray;

    &:hover {
      color: $orange;

      path {
        fill: #fff;
      }
    }

  }

}
@media (min-width: 992px) {
  .footer__column {
    margin-bottom: 0;
  }
}
.footer__column-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1;
  color: $black;

  &.branding {
    margin-bottom: 24px;
  }

  img {
    max-width: 80%;
    margin-top: -10px;

  }

}
@media (min-width: 768px) {
  .footer__column-title {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .footer__column-title {
    margin-bottom: 36px;
  }
}
.footer__column-address {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.3;
  color: $gray;
  font-style: normal;
}
.footer__column-email {
  font-size: 24px;
  line-height: 1.3;
  color: $black;
  transition: color 0.3s ease;
}
.footer__column-email:hover,
.footer__column-email:focus {
  outline: none;
  color: $orange;
}
.footer__column-info {
  margin-bottom: 32px;
}
.footer__column {

  &-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li.menu-item {

    &.current_page_item {

      a {
        opacity: 0.7;
        color: $orange;
      }

    }

    margin-bottom: 9px;
    a {
      font-size: 14px;
      line-height: 1.44;
      color: $gray;
      transition: color 0.3s ease;

      @include lg {
        font-size: 18px;
      }
      &:hover {
        color: $orange;
      }
    }
  }

}


.social {
  list-style: none;
  padding: 0;
  margin: 0 0 70px 0;
  display: flex;
  flex-wrap: wrap;

}
.social--black .social__link {
  width: 20px;
  height: 20px;
  border: none;
}
.social--black .social__link svg {
  fill: #000;
}
.social--black .social__link:hover,
.social--black .social__link:focus {
  background-color: transparent;
}
.social--black .social__link:hover svg,
.social--black .social__link:focus svg {
  fill: #ff4800;
}
.social--technical .social__link {
  border-color: #000;
}
.social--technical .social__link svg {
  fill: #000;
}
.social--technical .social__link:hover,
.social--technical .social__link:focus {
  border-color: #000;
  background-color: #ffdf91;
}
.social--technical .social__link:hover svg,
.social--technical .social__link:focus svg {
  fill: #000;
}
.social__item + .social__item {
  margin-left: 16px;
}
@media (min-width: 576px) {
  .social__item + .social__item {
    margin-left: 24px;
  }
}
.social__link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  border: solid 1px #ccc;
  border-radius: 50%;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.social__link svg {
  display: block;
  fill: #666;
  align-self: center;
  transition: fill 0.3s ease;
}
.social__link:hover,
.social__link:focus {
  outline: none;
  background-color: #ff4800;
  border-color: #ff4800;

  path {
    fill: $orange;
  }

}
.social__link:hover svg,
.social__link:focus svg {
  fill: #fff;
}
.social__link:active {
  opacity: 0.7;
}
.social .fb {
  background-color: #3b5999;
  border-color: #3b5999;
  transition: all 0.3s ease;
}
@media (min-width: 992px) {
  .social .fb:hover svg {
    fill: #3b5999;
  }
}

.social .wa {
  background-color: #2b9688;
  border-color: #2b9688;
  transition: all 0.3s ease;
}

.social .wa:hover svg {
  fill: #2b9688;
}

.social .tw {
  background-color: #55acee;
  border-color: #55acee;
  transition: all 0.3s ease;
}
@media (min-width: 992px) {
  .social .tw:hover svg {
    fill: #55acee;
  }
}
.social .g-plus {
  background-color: #dd4b39;
  border-color: #dd4b39;
  transition: all 0.3s ease;
}
@media (min-width: 992px) {
  .social .g-plus:hover svg {
    fill: #dd4b39;
  }
}
.social .tumblr {
  background-color: #2b4b6a;
  border-color: #2b4b6a;
  transition: all 0.3s ease;
}
@media (min-width: 992px) {
  .social .tumblr:hover svg {
    fill: #2b4b6a;
  }
}
.social .rss {
  background-color: #fb7000;
  border-color: #fb7000;
  transition: all 0.3s ease;
}
@media (min-width: 992px) {
  .social .rss:hover svg {
    fill: #fb7000;
  }
}

.footer__logo {
  margin-bottom: 20px;
  width: 60%;
}
@media (min-width: 768px) {
  .footer__logo {
    margin-bottom: 0;
  }
}
.footer__hint {
  margin: 12px 0;
  font-size: 16px;
  line-height: 1;
  color: $gray;
}
@media (min-width: 768px) {
  .footer__hint {
    margin-top: 24px;
  }
}
@media (min-width: 992px) {
  .footer__hint {
    margin: 0 20px 0 0;
  }
}
.footer__bottom {
  margin-top: 40px;
  padding-top: 40px;
  border-top: solid 1px #dbdee4;
}
